<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Investory Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<!--<script src="dirPagination.js"></script>-->
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--<script src="dirPagination.js"></script>-->
 
<style>
    .loader {
	position: fixed;
	left: 15%;
	top: 7%;
	 width:84%; 
	height: 100%;
	z-index: 9999;
	background: url('../../../images/ellipsis.gif') 50% 50% no-repeat rgb(249,249,249);
}  
    </style>
      <script>
             
        $(window).load(function() {
	$(".loader").fadeOut("slow");
})</script>
</head>  
<script>
   
    </script>
<body  ng-app="postgreSQL">
<div class="loader"></div>
      <%include partials/header%>
    <div id="wrapper" ng-controller="postgreSQLCtrl">

       
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href=""><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                     <li>
                        <a href="/admin/uploadInvestory"><i class="fa fa-fw fa-bar-chart-o"></i> Investory File to DB</a>
                    </li>
                    <li>
                        <a href="/admin/uploadcsv"><i class="fa fa-fw fa-bar-chart-o"></i> Fund house File to DB</a>

                    </li>
                    <li>
                        <a href="/admin/tables"><i class="fa fa-fw fa-table"></i> KYC</a>
                    </li>
                     <li >
                        <a href="/admin/reconcile"><i class="fa fa-fw fa-table"></i> Reconcile</a>
                    </li>
                    <li class="active">
                        <a href="/admin/failedOrders"><i class="fa fa-fw fa-edit"></i> Failed Orders</a>
                    </li>
                    <li>
                        <a href="/admin/reports"><i class="fa fa-fw fa-desktop"></i> Reports</a>
                    </li>
                    <!-- <li>
                        <a href="/admin/allocation"><i class="fa fa-fw fa-wrench"></i>Assets Allocation</a>
                    </li>-->
                   <li>
                        <a href="/admin/assetsUpload"><i class="fa fa-fw fa-wrench"></i> Update Asset allocation matrix</a>
                    </li>
                    <li>
                        <a href="/admin/funds"><i class="fa fa-fw fa-wrench"></i> Upload Schemes Matrix</a>
                    </li>
                    <li>
                        <a href="/admin/schemelist"><i class="fa fa-fw fa-wrench"></i> Schemes allocation matrix</a>
                    </li>
                     <li>
                        <a href="/admin/createuser"><i class="fa fa-fw fa-wrench"></i> Create Users</a>
                    </li>
                    <li>
                        <a href="/admin/Manage_users"><i class="fa fa-fw fa-wrench"></i> Manage Users</a>
                    </li>
                   <!-- <li>
                        <a href="/admin/bootstrap-grid"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/blank-page"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="/admin/index-rtl"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
               --> </ul>
            </div>
            <!-- /.navbar-collapse -->
  

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Failed Orders
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  Dashboard
                            <li class="active">
                                <i class="fa fa-table"></i>  Failed Orders
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                      
      
                    <div class="col-lg-11">
                        <h2>Failed Orders</h2>
                        <div class="table-responsive">
                           
                            <div ng-controller="checkBoxController">
                            <table class="table table-bordered table-hover">
                                <thead>
                                 <div class="row">
                                    
                                  <div class="col-md-4">
                                    <label >Search</label>
                                      
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                         </div>
                                       <!--<div class="col-md-3 col-md-offset-5">
                            <div class="push-right">
                              <button type="button" class="btn btn-default btn-sm" data-toggle="modal" ng-click="getDumpUpdate()"> Reconcile</button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" ng-click="statusReconcile()">Update</button> 
                                </div>
                                     </div>-->
                                                                              </div>
                                     
                          
                            </div>                                   
                             </div>           
<!--                             </form>-->
                                    <tr>
                                        <th>Order ID</th>
                                        <th>PAN</th>
                                        <th>Folio No</th>
                                        <th>Transaction ID</th>
                                             
                                        
                                        <th>Amount</th>
                                        
                                       
                                       
                                </thead>
                                <tbody>
                                        
                                       
                                    <tr ng-repeat="item in dataset track by $index| orderBy:sortType:sortReverse | filter:search">
                                   <!--track by $index-->
                                        <td id="orderid" name="orderid" ng-model="orderid">{{item.orderid}}</td>
                                        <td id="pan" name="pan" ng-model="pan">{{item.pan}}</td>
                                        <td id="pan" name="pan" ng-model="pan">{{item.foliono}}</td>
                                        <td id="pan" name="pan" ng-model="pan">{{item.transaction_id}}</td>
                                       
                                        <td id="amount" name="amount" ng-model="amount">{{item.amount}}</td>  
                                        
                                    </tr>
                                
                                     
                                    
                                   
                                </tbody>
                            </table>
       
                            </div> </div>
                    </div>
    
                  </div>
                  
        
    </div>
        <!-- /.container-fluid -->

      
        <!-- /#page-wrapper -->

 <script src="/lib/angular.min.js"></script>
   <script>
 
         
           var myReconcile = angular.module('postgreSQL',[]); 
       
       
        
       var idArray,flag;
       myReconcile.value('idArray', 0);
       
       var datasets;
       myReconcile.value('datasets', 0);
       
        myReconcile.controller('checkBoxController', function ($scope) {
	
            
       
            
	    
            $scope.checkAll = function () {
                console.log("Check all");
        if ($scope.selectedAll) 
          {
               $scope.selectedAll = true;
               $scope.selectionAll=[];
               flag=1;
             
        } else {
            $scope.selectedAll = false;
             $scope.selectionAll=[];
            flag=0;
        }
        angular.forEach($scope.dataset, function (dataset) {
            dataset.Selected = $scope.selectedAll;
            if(flag==1){
            
            $scope.selectionAll.push(dataset.userinvestmentorderid);
            }
        });
            
            idArray= $scope.selectionAll;
            console.log(idArray);

    };
		// toggle selection for a given employee by name
		$scope.toggleSelection = function toggleSelection(id) {
	    //console.log(id);
            //console.log($scope.selection);
            var idx = $scope.selection.indexOf(id);

	    // is currently selected
	    if (idx > -1) {
	      $scope.selection.splice(idx, 1);
	    }

	    // is newly selected
	    else {
	      $scope.selection.push(id);
	    }
          
         idArray=$scope.selection;
        //  console.log($rootScope.idArray);
              
          
	  };
    
     /*$scope.sort = function(keyname){
         console.log("sort");
        $scope.sortKey = keyname;   //set the sortKey to the param passed
        $scope.reverse = !$scope.reverse; //if true make it false and vice versa
         
    };*/
   
        });

      




 

   myReconcile.controller('postgreSQLCtrl', ['$scope','$http',  function($scope,$http) {
                $scope.val1 = 'This is temp Val' ;  
                $scope.pan = '';
                $scope.orderid = '';
                $scope.schemecode = ''; 
                $scope.amount = '';  
                $scope.status = '' ;
                $flag=0;
                $scope.transaction='';
                $scope.nav='';
                $scope.units='';
                $scope.foliono='';
    
       $scope.selectionAll=[];
         $scope.selection=[];
            

                //Get all records function
                $scope.getAllRec = function(){ 
                     $http({method: 'GET', url: '/admin/failedorders/get'}).
                        success(function(data, status) { 
                        
                              
                          angular.forEach($scope.data, function (data) {
                        data.userinvestmentorderid = parseInt(data.userinvestmentorderid);
                        }); 
                            $scope.dataset = data;
                          datasets=$scope.dataset ;
                         
                    
                        }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
                      }); 
                     
                    }       
                  $scope.getAllRec();
   
            }]);
            
       
       
 
        </script>
        
 
    
    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>
