<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
		
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi, initial-scale=1">
	
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript">
        
</script>
	<style>
	
     .heddings{
             /* color: #35BFD3;*/
             font-weight: 600;
         }
.btn {
    color: #fff;
    background-color:#35BFD3;
    border-color: #35BFD3;
}
        .Forgotpagelogo{
            padding: 15px 15px;
            
        }
	</style>
</head>
    <script>
        var checkusername=function(){ 
    var username =$("#uname").val();
            if (username.length > 2) {
            $('#errMasgName').slideUp();
            return true;
        } else {
            $('#errMasgName').slideDown();
            return false;
        }
        };
         var checkpassword=function(){       
    var password =$("#psw").val();
            if (password.length > 2) {
            $('#errMasgpassword').slideUp();
            return true;
        } else {
            $('#errMasgpassword').slideDown();
            return false;
        }
        };
        
    var validateform=function(){
      
        var checkusernameok=checkusername();
        var checkpasswordok=checkpassword();
        if(checkusernameok && checkpasswordok)
             return true;
        else
            return false;
        
        
    };
    
    </script>
<body>
    <header>
      <div class="navbar-header logo Forgotpagelogo">
           
            <a href="">
                <img class="img-responsive" id="investory" src="images/mobileIcon.png" alt="" />         
            </a>
        </div>
    </header>
<div class="container" style="padding-top:60px;">

<div class="col-sm-6 col-sm-offset-2">

	<h1 class="heddings"><span class="fa fa-sign-in"></span> Admin Login</h1>

	<!-- show any messages that come back with authentication -->
	

	<!-- LOGIN FORM -->
	<form onsubmit="return validateform()" action="/adminLogin" method="post">
		<div class="form-group">
            <label>User Name :</label><br />
			<input type="text" class="form-control" id="uname" name="uname" placeholder="Eneter User name">
            <p id="errMasgName" style="display: none; color: red">Please Enter valid usename</p>
		</div>
        <div class="form-group">
            <label>Password :</label><br />
			<input type="Password" class="form-control" id="psw" name="psw" placeholder="Enter Password">
            <p id="errMasgpassword" style="display: none; color: red">Please Enter valid password</p>
		</div>
		
			

		<button type="submit" class="btn">Login</button><br /><br />
                 
        
        	</form>
   
      <% if (lmessage.length > 0) { %>
                <div class="alert alert-danger"><%= lmessage %></div>
                <% } %>  
</div>

</div>
</body>
</html>
