   <footer>
        <div class="footerFrog">
         
         
           
             <img src="images/Footer_frog.png" />
           
         </div>
        <div class="container-fluid foot">
         
      
          
                <h4><a href="#">T & C</a></h4>
                <p><a href="/Privacy">Privacy</a></p>
                <p><a href="/Policies">Policies</a></p>
                
                
           
            <div class="col-sm-12">
                
                <h4><a href="#">Careers</a></h4>
               
                 
                
            </div>
                     <div class=" col-sm-12">
                
                         <h4><a href="#">Media</a></h4>
                
                
                
            </div>
                     <div class="col-sm-12">
                
                         <h4><a href="#">Contact Us</a></h4>   
                
            </div>
                          <div class="col-lg-12 ">
            
              <a href="https://www.facebook.com/">  <img id="fb" src="images/social/fb.png" alt="SocialIcons"> </a>
                <a href="https://twitter.com/"> <img id="twitter" src="images/social/twitter.png" alt="SocialIcons"></a>
                <a href="https://www.linkedin.com/"> <img id="linkdin" src="images/social/linkdin.png" alt="SocialIcons"></a>
                <a href="https://plus.google.com"> <img id="gp" src="images/social/gp.png" alt="SocialIcons"></a>
<!--                 <img src="images/social/msg.png" alt="SocialIcons">-->
            </div>  
            <div class="newsletter">
            
                <p class="SubscribeToNewsletter" data-toggle="modal" data-target="#EmailForm">Subscribe to our newsletter</p>
            </div>
            </div>
       
   
       
       </footer>  
         