             <footer>
         
         <div class="footerFrog frogReports">
         
            <!--<h2 class="videoTour" id="<%= footerDisplay %>"><%= footerData1 %></h2>-->
            <!--<h2 id="<%= footerDisplay %>" class="FAQs"><%= footerData2 %> </h2>-->
           
             <img src="images/Footer_frog.png" />
           
         </div>
         
         
        <div class="row foot">
            <div class="col-md-5 col-xs-12 right">
                <div class="col-sm-4">
                    <h4><a href="#">Why us</a></h4>
                    <p><a href="/KnowUs">What we do</a></p>
                    <p><a href="/">Testimonials</a></p>
                    <p><a href="/KnowUs">Our Team</a></p>
                </div>
                <div class="col-sm-4">
                    <h4><a href="Pricing#section3">How it works</a></h4>
<!--  removed ruthu7                  <p><a href="#">Taking a tour</a></p>-->
                    <p><a href="Pricing">Pricing</a></p>
                    <p><a href="FAQs">FAQs</a></p>
                </div>
                <div class="col-sm-4">
                    <h4><a href="#">T & C</a></h4>
                    <p><a href="/Privacy">Privacy</a></p>
                    <p><a href="/Policies">Policies</a></p>
                </div>
            </div>
            <div class="col-md-5 col-md-push-2 col-xs-12 left">
                <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h4><a href="#">Careers</a></h4>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h4><a href="#">Media</a></h4>    
                </div>
                <div class="col-md-4 col-sm-3">
                    <h4><a href="#">Contact Us</a></h4>   
                </div>
                <div class="col-md-10 col-md-push-2 col-sm-3 socialIcons">
                    <div class = "row">
                        <a href="https://www.facebook.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">  <img id="fb" src="images/social/fb.png" alt="SocialIcons" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"> </a>
                        <a href="https://twitter.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"> <img id="twitter" src="images/social/twitter.png" alt="SocialIcons"></a>
                        <a href="https://www.linkedin.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"> <img id="linkdin" src="images/social/linkdin.png" alt="SocialIcons"></a>
                        <a href="https://plus.google.com" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"> <img id="gp" src="images/social/gp.png" alt="SocialIcons"></a>
                        <!--<img src="images/social/msg.png" alt="SocialIcons">-->
                    </div>
                </div>
                <div class="col-md-10 col-md-push-2 col-sm-3 newsletter">
                    <div class="row">
                        <p class="SubscribeToNewsletter" data-toggle="modal" data-target="#EmailForm">Subscribe to our newsletter</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
            
           
            
        </div>
    
    </footer>  