
<!-- Title of the page    -->
  <title>Investory</title>
    
<!-- Meta Tags   -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi, initial-scale=1">
<!--<meta name="viewport" content="">-->
<!-- Bootstrap Css link    -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    
<!--JQuery link   -->
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    
<!--Bootstrap Js link   -->
    <script src="javascripts/bootstrap.min.js"></script>


<!--Font links    -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,300i,400,600,700,700i" rel="stylesheet">


       

 
    
  
    <link rel="stylesheet" href="stylesheets/creative.css">
    
 <style>
     body { -webkit-text-size-adjust: none; }
    
    .wrapper {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
        
    .onepage-pagination {
        display: none;
        }
        
    </style>

   
