
<!-- Title of the page    -->
  <title>Investory</title>
    
<!-- Meta Tags   -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap Css link    -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    
<!--JQuery link   -->
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    
<!--Bootstrap Js link   -->
    <script src="javascripts/bootstrap.min.js"></script>


<!--Font links    -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,300i,400,600,700,700i" rel="stylesheet">


       <script src="javascripts/jquery.onepage-scroll.js" ></script>

 
    <link rel="stylesheet" href="stylesheets/onepage-scroll.css">
  
    <link rel="stylesheet" href="stylesheets/creative.css">
    
 <style>
    html {
      height: 100%;
    }
    body {
     
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    }
    
    .wrapper {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
        
    .onepage-pagination {
        display: none;
        }
        
    </style>
    <script>
	  $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 300,
        loop: false
      });
		});
		
	</script>