        <head> <link rel="stylesheet" href="stylesheets/responsive.css"></head>             
    <div id="invoices" class="text-center">
           <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
        
                <div class="page31" style="    margin-top: 4em;">
                                 
                       <div class="table-responsive tableAccounts"style="" >
                        <table class="table table1"  style="  "  >
    <thead >
      <tr >
          
          <th   class="thDates" >Dates</th>  
        <th  class="thInvoices">Invoices</th>
        <th class="thAllocation"> Units</th>
        <th class="thAmount">Amount (&#x20B9;)</th>
      </tr>
                            </thead>    </table>         
    
   <table class="table table2" style=" " >
       <tbody class="scrollbar"  id="ex3"    >
                          
      <tr  >
          
          <td>20 Sep 2016</td>
        <td >Fund Yesno Bank</td>
        <td >50%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>13 Mar 2017</td>
        <td>Bank fund Trade centre</td>
        <td>40%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>09 JAn 2017</td>
       <td>Debit fund</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
       
       </tbody>
       
  </table>
             
     <table class="table table3"  style=" "  >                
    <tbody >
        <td class="aba">
      <button type="" class="btn btn-lg moodNav  InvoicesButtons"  > Print</button>  
            <button type="" class="btn btn-lg moodNav InvoicesButtons"  > Mail</button>  
            <button type="" class="btn btn-lg moodNav  InvoicesButtons"  > Save</button>  
             
        </td>
       </tbody>
                            </table>                    
  
                       </div>                 
                    

          </div>
     <div class="container">
   <% include partials/footer %> 
         </div>
    </div>