<!DOCTYPE html>
<html>
<head>

<title>Payment Processing</title>
<script>
    function submitForm() {
      var postForm = document.forms.postForm;
      postForm.submit();
    }
</script>
</head>
<body onload="submitForm()">


<div>
	<form name="postForm" action="<%- data %>" method="POST" >
		
	</form>
</div>
</body>
</html>
