<!DOCTYPE html>
<html>
  <head>
   <% include partials/head %>
	      <link rel="stylesheet" href="stylesheets/creativemobile.css">
    <style>.morecontent span {
    display: none;
}
.morelink {
    display: block;
}</style>
      
      
       <script>
       $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});</script>

  </head>
  <body>
    <% include partials/headerMobile%>
      
      
        


    <div class="container-fluid faqs text-center">
      
            <br>
                  <h2 class="">FAQs</h2>
         <h5 class="FAQHeader">We all have questions. And to me that is a <em style="color:red;">sign of curiosity</em>. So fire away...</h5>
         <br>
             <div class="topNav wxt FAQ" style="display:none;">
        
                  
              <a  class="act btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Our Process</a> 
          
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
            <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Investments</a>
           
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
             <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Products</a> 
             
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
          <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Billing & Fees</a>
           
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
             <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Definitions</a> 
           
</div>
         

         
        
       
         
         <div id="FAQue" class="sliderFaqs">
        
             
                  <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Our Process</button>
          
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">How is Investory different from other digital investment advisors?</div>
                
             </button>
<div class="panel">
  <p>Firstly, we are what the industry calls a RIA (Registered Investment Advisor) which means we are registered with the regulator (SEBI) and fully compliant unlike some other online portals.<br/> 
Secondly, our experience of 15 years in traditional wealth management and financial planning meets new age digital advice based on an algorithmic framework; we bring to you a high-tech low-touch investing experience of a bionic nature. <br/>
Thirdly, where others provide you with a platform for execution or a limited number of investing options, our experience allows us to make sure that every portfolio is individually designed and customized based on your story to give you the best chance of reaching your dreams.
</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">How do you choose the scheme for recommendation?</div>
                
             </button>
<div class="panel">
  <p>We have a comprehensive, data driven algorithm that takes into account the consistency of past performance and returns which is then adjusted for risk through various statistical metrics. Then, a forward looking filter based on frequent conversations with fund managers helps understand their in-depth strategies for better portfolio selection.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">	What happens when there is a change in scheme recommendation?</div>
                
             </button>
<div class="panel">
  <p>Sometimes, certain schemes may fall out of our recommendation due to changes in fund manager, strategy or a prolonged period of under-performance. In these cases, we will inform you by email about any changes required in your portfolio and the future recommendation that we propose. </p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">	Can I choose multiple goals?</div>
                
             </button>
<div class="panel">
  <p>It’s your story; you can choose any number of goals and based on the time horizon to your goals and your risk taking ability, we will customize a portfolio for each of your goals.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">How can I track my goals?</div>
                
             </button>
<div class="panel">
  <p>You can use the ‘Track My Story’ feature to see the progression of your portfolio. <br/>
Since our approach is goal focused, we adopt a conservative approach as you reach closer to your goals.  This will reduce the impact any market related event may have on your portfolio. Continuous monitoring of your portfolio ensures that we are able to provide you a heads-up on important events and portfolio rebalances leading up to your goals. 
</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Why do I have to choose a risk profile?</div>
                
             </button>
<div class="panel">
  <p>Alongside the time horizon for achieving your goals, understanding your risk taking ability enables us to make better informed decisions on the asset allocation and scheme selection needed to achieve your dreams. We understand that your priority towards achieving a particular goal may alter your risk profile which is why we allow you to have different risk profiles based on your goals.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Can I modify my asset allocation?</div>
                
             </button>
<div class="panel">
  <p>The asset allocation is based on your chosen risk profile – Conservative, Moderate or Aggressive. If you’re unsure which category you lean towards, you can answer a few questions that will guide you to the profile that suits you best.<br/>
You can modify the asset allocation by choosing a different risk profile but only to the extent of the pre-determined allocation associated with each profile. Please note that once you choose a risk profile and receive a recommendation, you cannot alter it.
</p>
</div>

                                    
         </div>
              
             
<button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Investments</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Can I modify the recommended schemes?</div>
                
             </button>
<div class="panel">
  <p>Since the schemes are chosen based on our in-house research algorithms and fund selection process, we aim to bring you the schemes that most accurately reflect the best possible path to achieve your dreams. Since our mission is to bring our expertise to your story, these schemes cannot be changed.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Why can’t I invest 100% of my money in equity?</div>
                
             </button>
<div class="panel">
  <p>While a 100% allocation towards equity may or may not work for you, we believe that diversification is what contributes towards a good investing experience across multiple economic and market cycles. In order to reduce the risk associated with investing while meeting all your dreams, we do not recommend being exposed only towards equity instruments though we do maintain a high exposure to equities for an aggressive investment profile.  </p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">Will my portfolio beat the market?</div>
                
             </button>
<div class="panel">
  <p>Our scheme selection process is designed to pick funds that will firstly, beat inflation and secondly, deliver consistent returns over the benchmark. While in the short term, market variations could cause a portfolio to undershoot a target, our objective is to design a customized portfolio for you that will help you reach your dreams. </p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">	I don’t have a goal, can I still invest?</div>
                
             </button>
<div class="panel">
  <p>While we urge you to think about your goals, we understand that sometimes it can be overwhelming. You could browse through some of the goals that we’ve put together for helping you through the goal related investing process and if it still doesn’t help, you could invest just to build wealth without a particular goal for now. </p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Is there a minimum investment amount?</div>
                
             </button>
<div class="panel">
  <p>If you opt for a one time investment, you would need a minimum amount of Rs. 5000. If you instead choose to invest monthly, the minimum amount would be Rs. 1000 per month.	</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Is there a maximum investment amount?</div>
                
             </button>
<div class="panel">
  <p>No, there is no maximum investment amount. You can choose to invest higher amounts towards achieving your dreams faster. 	</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">	Why do you provide investments only in the direct plan?</div>
                
             </button>
<div class="panel">
  <p>Direct plans have a lower expense or fund management charge than regular plans. This is because in a regular plan, there is an additional expense of commissions which is paid out to an advisor/fund distributor by the mutual fund. This then lowers the return that the investor receives and may also result in biased advice depending on which fund offers a higher commission.You can see the difference of investing in a direct plan versus a regular one here.<br>
By opting for the direct route, we make sure that there’s no bias in recommending a particular product and that we choose the best one for you while trying to maximize your returns. 
</p>
</div>

         </div>
                            <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Products</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">How do you ensure that my money is secure?</div>
                
             </button>
<div class="panel">
  <p>Since Investory isn’t a bank but an investment advisor, you will always remain the owner of your money. The money moves from your bank account to your mutual fund account when you invest and vice versa when you redeem it. We keep track of it at every step on your behalf. </p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">	Can I open multiple accounts?</div>
                
             </button>
<div class="panel">
  <p>If you wish to open multiple accounts for your any of your goal based investments, you are free to do this with a different email address and mobile number. But, our interface and systems ensure that you will be able to track multiple goals within the same umbrella account without having to create multiple log in id’s. </p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">	Who can be an Investory client?</div>
                
             </button>
<div class="panel">
  <p>If you have a dream, a goal or if you just want to start saving - we’ll help you to script your own story. </p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">I don’t live in India, can I still open an account?</div>
                
             </button>
<div class="panel">
  <p> We are working towards enabling NRI investments on our platform. Please leave your details with us and we’ll be in touch with you as soon as we’re ready. </p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">	How do I get in contact with the Investory help desk?</div>
                
             </button>
<div class="panel">
  <p>Please write in to us at help@investory.com and we’ll be happy to answer your queries. </p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Where can I see the portfolio that I’m invested in?</div>
                
             </button>
<div class="panel">
  <p>The ‘My Portfolio’ tab on your dashboard gives you access to various features that gives you either a consolidated view of all your investments or a goal wise break-up of the portfolio. </p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">What reports will I get?</div>
                
             </button>
<div class="panel">
  <p>Apart from the reports on your portfolio holdings and goal tracking, we will also provide you with the reports needed for filing your tax returns in the basic plan.</p>
</div>

                                    
         </div>
             
             
             
                            <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Billing & Fees</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">	Is there a minimum monthly investment amount that I have to commit to?</div>
                
             </button>
<div class="panel">
  <p>A minimum monthly investment of Rs. 1000 is required.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">	What is the tenure of the SIP that is getting registered?</div>
                
             </button>
<div class="panel">
  <p>While we review your portfolio constantly and we get conservative the closer we get to your goals, we recommend registering the SIP for a perpetual tenure. The reason for this is thathistorical data has shown that investors do not gain by frequent churn of the portfolio and that staying invested is what yields results. As investors, it also means that the habit of investing systematically is automatically created and there is no inertia when it comes to re-starting an investment. We will however conduct a review on an annual basis and recommend any changes if required.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">What types of investments will I own in my account?</div>
                
             </button>
<div class="panel">
  <p>Through our platform, we recommend mutual funds for investment purposes. Depending on the risk profile, you will get a mix between equity, debt and hybrid mutual funds.</p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">	How do I get started?</div>
                
             </button>
<div class="panel">
  <p>Simple and seamless. Sign up, create your profile, choose a mood, or choose to invest specifically ina goal, or even just directly begin your investments. With your PAN details, we’ll verify your KYC compliance and if you are, you’re ready to begin.  Upload a cancelled copy of your cheque, complete your risk profile, get personalized recommendations and begin investing through the online portal.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Why is the sign up process not paperless?</div>
                
             </button>
<div class="panel">
  <p>Unfortunately, there are still a few bits which require a signed physical copy. With technology finding its way into every industry and part of our lives, we’re sure that it’s only a matter of time before our industry gets there too.  Until then, please be patient as after the initial steps, it’s going to be completely digital.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">	How long will it take for the investments to show up on my profile after my money is debited from my account?</div>
                
             </button>
<div class="panel">
  <p>The order you create will show up in your transaction history immediately but it will take up to 3 working days to reflect as part of the portfolio. </p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Will I have access to a personal advisor?</div>
                
             </button>
<div class="panel">
  <p>If you opt for the ‘Best’ plan, not only do you get access to a wide range of reports but also access to an advisor</p>
</div>

                                      
    
     
    
         </div>
           
       
           <button class="accordion btn-lg investementbutton" data-toggle="pill" href="#FAQue">Definitions</button>
<div class="panel">
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Can I integrate my previous investments with Investory?</div>
                
             </button>
<div class="panel">
  <p>Since the schemes that we recommend are carefully chosen to meet the customized requirements of our investors, integration of previous investments may not fall in line with our algorithms. If you’ve already saved up and invested towards a particular goal, you could use our calculator and we can help you to have a tailored approach to make sure you don’t fall behind in achieving that goal to figure out what it would it take to achieve it and begin investments through the recommendation you receive from us.</p>
</div>
 <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Can I export my data and reports into other tools?</div>
                
             </button>
<div class="panel">
  <p>Yes, your portfolio and transaction data can be exported to other productivity tools such as the Adobe PDF and Microsoft Excel.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">How can I get access to my money if I need it?</div>
                
             </button>
<div class="panel">
  <p>If you’ve invested in a liquid fund, the money will be made available for you to redeem as and when you may require it. Since equity funds have been recommended with a certain time horizon in mind, we would like to understand why it is that you wish to redeem and one of our advisors will be happy to have a chat to discuss any queries. </p>
</div>
     
             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">Can I cancel my subscription at any time?</div>
                
             </button>
<div class="panel">
  <p>If you’re unhappy with our services, please write in to us at feeback@investory.in and we’ll try our best to solve any issue that you’ve faced. If you’re still not satisfied, we will offer you a refund on a pro-rata basis.</p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">	What happens to my portfolio if I cancel my subscription?</div>
                
             </button>
<div class="panel">
  <p>You will be able to continue viewing your portfolio but not transact on it. </p>
</div>

             <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">	Do I get any benefits for referring my friends?</div>
                
             </button>
<div class="panel">
  <p>Yes! If you refer your friends and they sign up, you earn our gratitude. But not just that, you receive loyalty points as well which you can then use to unlock premium services and our super cool merchandise.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">	Do you provide complete financial planning solutions?</div>
                
             </button>
<div class="panel">
  <p>At Investory, our focus is on providing a seamless platform for you to get started with goal based investing. If you would like to have a financial plan drawn up for you and your family, we’ll be pleased to assist you through our parent company IMMPL’s service bouquet. Please do write in to us at help@investory.in so that we can have one of our advisors assist you.</p>
</div>
               <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">8</div>
                 <div class="col-sm-11">Can I view my entire family’s portfolios under a single account?</div>
                
             </button>
<div class="panel">
  <p>At the moment, we don’t have a family portfolio being integrated under a single account and you will have to log-in separately in order to view this. 



</p>
</div>
               <button class="accordion">
                 <div class="col-xs-1 btn btn-default btn-circle">9</div>
                 <div class="col-sm-11">	Can I invest on the go? Is there a mobile application?</div>
                
             </button>
<div class="panel">
  <p>We are an online web based portal at this time and are in the process of developing a mobile application that will let you have command over your goals and portfolio through your phone. Stay tuned and we’ll have it up and running soon.</p>
</div>

                                      
    
    
    
         </div>
             </div>    <% include partials/footerMobile %> 
        </div> 
  

 
   
      
<!--Custom Js links -->  
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
  
</body>
</html>