       <!DOCTYPE html>
<html lang="en">
     
<head>

 <% include partials/head %>
<link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
      <% include partials/headerMobile%>
    <div class="container">
     
    <div id="invoices" class="text-center">
          
                <div class="page31" style="">
                          <h3 style="color:#35BFD3;">
                     My Investments</h3>       
                       <div class="table-responsive tableAccounts"style="" >
                           
                   <br> 
                           <% if(stmtt) { %>
                            <%for(var i=0;i<stmtt.length;i++){%>
             <table class="table" style="
    border-radius: 21px;
">
                                 <thead>
                                     <tr>
                                      <th class="thead1" colspan="2">Date :<%=stmtt[i].investdate%> </th>
                                     
                                     </tr>
                                </thead>
                             <thead>
                                     <tr>
                                      <th class="thead2" colspan="2"><%=stmtt[i].name%></th>
                                     
                                     </tr>
                                </thead>
                                 <tbody>
                                     <tr>
                                        
                                         <td>
                                        Amount (&#x20B9;) </td>
                                      <td style="border-right: none;">Units</td>
                                        </tr>
                                        <tr>
                                          <td id="eqPer"><%=stmtt[i].amount%></td>
                                          <td id="eqAmt" style="border-right: none;"><%=stmtt[i].units%></td>
                                        </tr>
                                 </tbody>
                          </table>  
          <br>                                
              
          <%}%>                 

      <% }else { %>
					<h1>No investments yet. see you later. bye.</h1>
					<% } %>                           
          </div>
    
    </div>
         <% include partials/footerMobile %>
        </div>