<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
            <link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
<body>
 <% include partials/headerMobile%>  
    

	 
      
     <div class="container-fluid know-us " >
        
      
<!--         <div class="full" style="">-->
<div class="knowUs1 " style="    border-bottom: 2px #35BFD3 dotted;"> 
          <h2>Name and Logo</h2>
    
          
<!--
       
         <div class="dotHr" style="  ">

                 
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
              <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                    <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div ></div>
                  <div ></div>
                    <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
             <div></div>
               <div></div>
                  <div ></div>
                  <div ></div>
             <div></div>
             
      
  </div>
         
-->
         
         
         
         <!--line below name and logo ends-->
         <br>
                  <div class="KUNLogo" >
                      
                      <div class="container content NLContainer">
                      
                          <div class="row ">
                          
                             
                              <div class="col-sm-12" style=" padding-bottom: 11px;border-bottom: 2px #35BFD3 dotted">
             
                                  <p >
                                     <p > Our name is inspired by two words- invest and story.
                                  Here we help you write your financial story with honest investment advice. Our brand mascot is "Tory" the frog.</p>
                                    </p>
                                  
                              </div>
                              
                             
                            
                          </div>
                      
                      </div>
            </div>
         
<!--
              <div class="dotHr" style="">
         

                  <div ></div>
                  <div ></div>
                  
                  <div ></div>
                  <div ></div>
          <div ></div>
               
         
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                 <div></div>
                 <div></div>
                <div></div>
               <div></div>
                <div></div>
                 <div></div>
                <div></div>
             <div></div>
                           <div></div>
                <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                 <div></div>
                 
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                  <div></div>
                   <div></div>
                  <div></div>
              <div></div>
                  <div></div>
                   <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                  <div></div>
                   <div></div>
                  <div></div>
              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                   <div></div>
                  <div></div>
              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 
                  
      
  
  </div>
         
-->
         
         
          <h2 style="padding: 1em;    padding-bottom: 0.2em;" class="">Why a frog?</h2>
           
<!--
         
        <div class="dotHr" style="">
         

                  <div ></div>
                  <div ></div>
                  
                  <div ></div>
                  <div ></div>
          <div ></div>
               
         
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                 <div></div>
                 <div></div>
                <div></div>
               <div></div>
                <div></div>
                 <div></div>
                <div></div>
             <div></div>
                           <div></div>
                <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                 <div></div>
                    
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
           
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
           
                  
      
  
  </div>
          
-->
         <!-- line below WHy a frog End-->
         
         <br>
         
          <div class="container"><!--start of why frog para-->
         <div class="row">
         
             
             <div class="col-sm-12 " >
                 
                 <p class="KuWfC1Pad">
             Frogs have been a symbol of prosperity,
             wealth, friendship and abundance in 
              many cultures. For the Romans, the frog
       was a mascot believed to bring good luck 
               to one's home. In many Asian cultures,
               the frog or toad symbolize the moon and 
             can facilitate healing and attract
                 prosperity. The money toad or fortune
              frog is thought to have been the personal 
          pet of the Chinese god of wealth.
                     
                     
                     <br>
                     <br>
                     As a power animal, the frog serves to remind a person of the ever-changing nature of his life and the support that can be found during times of change.
Because the frog has the ability to go from water to earth, it is believed that as a power animal the frog contains the magic and properties of both elements.

So let's get to know Tory better, shall we?
           
                 </p>
             
             </div><!--end of collum1-->
              
              
               
        </div><!--row rowclass-->
         </div><!--end of container content-End of why frog para-->
    <br>
   
<!--
   <div class="dotHr longDotUs" style=""> 
       
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
-->
       
               
       <u>
      <button type="" data-toggle="modal" data-target="#signUp" class="btn btn-lg moodNav pull-left getStarted" style="  width: 8em;
    position: relative;
    top: -1em;" > Get Started</button>
              </u>
                     
<!--
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       
         </div>
-->
                  </div><!-- Get Started End-->
<!--    </div>      -->
<!--       </section>section1   -->
 
    
    
    
  <br>  <br>
<!--  <section id="section2"  class="mod-singular-section" >-->
    
    <div class="knowUs2" style="border-bottom: 1px #35BFD3 dotted">
     <div class="know-us  text-center mod-singular-section" style="margin-top: 0.5em">
     
         <h2 style="" class="WSHeader">Why choose Investory</h2>

     <br>
        <div class="container content"><!--start of why Invest Story-->
            
         <div class="row "><!--Investstory row-->
             
           
             
             <div class="col-sm-12" >
                 
                 <p class="KuWfC1Pad" >
                        Investory wants to make financial
                        planning and investment transparent, 
                        easy and fun. And we want to do this
                        without charging you any commission on 
                        the funds we recommend; without billing
                        you a percentage of the money you 
                        invest with us each year and without
                        using jargon.
                </p>
             <br/>
             </div><!--end of collum1-->
              
              
             <div class="col-sm-12"  style=" padding-bottom: 11px;border-bottom: 2px #35BFD3 dotted">
                 
                 <p  class="KuWfC2Pad" >
               All our advisors are highly qualified and 
               keep your long-term interest in mind. This
               is done by making your goals the center
                of our world. However you wish to live 
                your life, we help you plan for it! 
                We don't judge or preach.
                Just assist and advise like a trusted friend
                     or expert.
                     </p>
            </div><!--end of collum2-->
          
            
        </div> <!--Investstory row end-->
         </div><!--end of container content-End of Invest Story para-->
      
    
    <!--dotted line below why InvestoryParagraphs-->
     <br>
     
     

     <!-- Get Started End--><!--Line below why InvestoryParagrapy Ends-->
      <div class=" why-us know text-center">
            
          <div class="container content classSectio2">
                
              <div class="row">
                    
                  <div class="col-sm-3 ">
                        
                      <h2 class="headdingKnowUsColumn">No cut</h2>
                        
                      <p>We do not take any cut (in other words shortcut) from any fund house, in order to give you unbiased and honest advice.</p>
                    
                  </div><!--No cut Ends-->
             
                  <div class="col-sm-3 "><!--no charges-->
                         
                      <h2 class="headdingKnowUsColumn">No charges</h2>
                  
                      <p>We also do not charge you based on the amount you invest; just a small monthly fee for our advisory services.</p>
                      
                  </div><!--no charges ends-->
                  
                    <div class="col-sm-3 "><!--only direct-->
                        
                          <h2 class="headdingKnowUsColumn">Only direct</h2>
                        
                  <p>We recommend only direct schemes that give you much higher returns compared to retail options (which pay commissions to advisors)</p>
                        
                    </div><!--only direct Ends-->
                  
                  <div class="col-sm-3 "><!--100%safe-->
                          <h2 class="headdingKnowUsColumn">100% safe</h2>
                  <p>Being in the industry for over 15 years, we know the importance of privacy and safety of your money and data.</p>
                  </div>
             
        </div>
          </div>  
           
          
          <!-- Get Started End-->
    </div>
    </div></div><!--container investoryends-->
<!--</section> section2 ends-->

 <!--<section id="section3"  class="mod-singular-section">-->
   <div class="knowUs3">
     <div class="container-fluid know-us text-center mod-singular-section">
    
      <h2 style="padding-top: 20px;    border-top: 2px #35BFD3 dotted;" class="">Who are we</h2>
    
          <br>      
         <div class="WhoWeAre">
         <p class="WhoWeAreP"> Our parent company, International Money Matters Pvt. Ltd. (IMMPL) is a
        financial advisory established in 2003, to help people achieve their goals.
       Each of our advisors and relationship managers take up the 'Certified
          Financial Planner' programme as recommended by the Financial Planning
    Standards Board, India. We are also a SEBI Registered financial advisory.
            IMMPL manages assets of over Rs.750 Crores and run a risk cover of Rs.300
        Crores while advising 500+ clients from across India and the world including
           <b> the US, UK, Middle East and South East Asia.</b> </p>
         </div>
             
               
     <br>
        </div>
   
     <div class="container-fluid   text-center mod-singular-section" style="margin-top: 0.5em">
        
         <div class="container-fluid know-us text-center lastKnowUs">
          <h2 style="padding-top: 15px;padding-bottom:0px;border-bottom: 2px #35BFD3 dotted;" class="">Investory Team</h2>
<!--line above Team-->
        <br>
             <br>
        
          <div class="avatarTestimonial avtarEdit">
                    <img src="images/avatar.png" alt="Person" width="96" height="96" class="avtarSiaze" style="position: relative;
    height: initial;
    width: 21%;
    left: initial;
    right: initial;"> 
            
                        </div>             
                 <h4 class="swethaJain" style="font-weight:900;">Swetha Jain - <i>COO</i></h4>    
        
           
    <div class="InvestTeam" style="    padding-bottom: 11px;border-bottom: 2px #35BFD3 dotted;" >
         
         <h6 class="InvestTeamP" style="">A BBM graduate and a CFP to boot, Swetha brings her excellent management skills to the table and is an integral part of our think tank. She spearheads "The Investory"initiative which aims to make financial advice more accessible and fun.</h6>
         </div>
      
        </div><!--container-fluid knowus text-centercontainer ends-->
        <% include partials/footerMobile %>  
      
    <!--</section>section4-->



      

        </div>   
    </div>
</div>
</div>

<!--Custom Js links -->
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
</body>
</html>


