<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
    
	<link rel="stylesheet" href="stylesheets/updated.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
       <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
</head>
<body>

  <% include partials/header %>  
    
 <div class="wrapper">
	  <div class="main">
          
<!--    <section id="section1"  class="mod-singular-section" >-->
      
   <div class="container-fluid know-us  text-center mod-singular-section" >
        
      
       

          <h2  class="NameAndLogo">Name and Logo</h2>
    
      
         <!--line below name and logo ends-->
<!-- Removed by ruthu        <br>-->
                  <div class="KUNLogo" >
                      
                      <div class="container content NLContainer">
                      
                          <div class="row ">
                          <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1"> 
<!--Removed by Ruthu                    
<div class="btn-hr-wrapper"></div>-->
                                  <p class="KUNLogoP">
                                      Our name is inspired by two word invest and story.<br>
                                      Here we help you write your financial story with honest investment advice.
                                      Our brand mascot is "Tory" the frog.
                                    </p>
<!--   Removed by ruthu                               <div class="btn-hr-wrapper"></div>-->
                              </div>
                              
                              <div class="col-sm-3"></div>
                            
                          </div>
                      
                      </div>
            </div>
<!--
         <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1"> 
              <div class="btn-hr-wrapper" style=""></div>
        </div>
-->
         
         <br>
         
         
       
         
         
          <div class="whyAFrogContainer">
                <h2 class="WFrogHead"style=" padding-top: 0em;" class="">Why a frog?</h2><img class="WFrogImg"src="images/frggie1.png" >
              
<!--Removed br ruthu
                <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
                <div class="btn-hr-wrapper"></div>
                </div>
-->

          </div>
          
           
         <!-- line below WHy a frog End-->
         
         <br>
         
        <div class="container content"><!--start of why frog para-->
        <div class="row KuWfRow ">
        <div class="col-sm-2 col-md-3 KuWfC"></div>
             
        <div class="col-sm-4 col-md-3 KuWfC1" >
             
        <p class="KuWfC1Pad">
        Frogs have been a symbol of prosperity,
             wealth, friendship and abundance in 
              many cultures. For the Romans, the frog
       was a mascot believed to bring good luck 
               to one's home. In many Asian cultures,
               the frog or toad symbolize the moon and 
             can facilitate healing and attract
                 prosperity. The money toad or fortune
              frog is thought to have been the personal 
          pet of the Chinese god of wealth.
           
        </p>
             
             </div><!--end of collum1-->
              
              
             <div class="col-sm-4 col-md-3 KuWfC2"  stle="">
                 <p class="KuWfC2Pad" >
           As a power animal, the frog serves to 
               remind a person of the ever-changing
               nature of his life and the support that can 
                 be found during times of change.<br>
                 
                Because the frog has the ability to go
                from water to earth, it is believed that as
         a power animal the frog contains the
               magic and properties of both elements.<br><br>
               So let's get to know Tory better, shall we?
                  
                 </p>
            </div><!--end of collum2-->
             
         <div class="col-sm-3"></div>
           
            
        </div><!--row rowclass-->
         </div><!--end of container content-End of why frog para-->
    <br>
   
   <div class="btn-hr-wrapper" style=""><!-- Get Started-->
                <button type="" data-toggle="modal" data-target="#signUp" class="btn btn-white btn-lg moodNav getStarted" > Get Started</button>
      
    </div>      
<!--       </section>section1   -->
 
  <br>
<!--  <section id="section2"  class="mod-singular-section" >-->
 <div class="container-fluid know-us  text-center mod-singular-section" style="margin-top: 0.5em">
        <div class="whyInvtContainer">
                <img class="WInvstImg"src="images/froggie 2.png"  style="">
                <h2 style="" class="WSHeader">Why choose Investory</h2>
<!--Removed by ruthu
                <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
                <div class="btn-hr-wrapper clean" style="">
                </div>
            </div>
-->
        </div>
     <br>
        <div class="container content"><!--start of why Invest Story-->
            
         <div class="row KuWfRow "><!--Investstory row-->
             
             <div class="col-sm-2 col-md-3 KuWfC"></div>
             
             <div class="col-sm-4 col-md-3 KuWfC1" >
                 
                 <p class="KuWfC1Pad" >
                        Investory wants to make financial
                        planning and investment transparent, 
                        easy and fun. And we want to do this
                        without charging you any commission on 
                        the funds we recommend; without billing
                        you a percentage of the money you 
                        invest with us each year and without
                        using jargon.
                </p>
             
             </div><!--end of collum1-->
              
              
             <div class="col-sm-4 col-md-3 KuWfC2"  stle="">
                 
                 <p  class="KuWfC2Pad" >
               All our advisors are highly qualified and 
               keep your long-term interest in mind. This
               is done by making your goals the center
                of our world. However you wish to live 
                your life, we help you plan for it! 
                We don't judge or preach.
                Just assist and advise like a trusted friend
                     or expert.
                     </p>
            </div><!--end of collum2-->
             
         <div class="col-sm-3"></div>
           
            
        </div> <!--Investstory row end-->
         </div><!--end of container content-End of Invest Story para-->
      
    
    <!--dotted line below why InvestoryParagraphs-->
     <br>
     
     
       
          <div class="btn-hr-wrapper" style="">
                  </div>
           
     <!-- Get Started End--><!--Line below why InvestoryParagrapy Ends-->
      <div class="container-fluid why-us know text-center">
      
          <div class="container content classSectio2">
                
              <div class="row">
                    
                  <div class="col-sm-3 classSectio21">
                        
                      <h2 class="headdingKnowUsColumn">No cut</h2>
                        
                      <p>We do not take any cut (in other words shortcut) from any fund house, in order to give you unbiased and honest advice.</p>
                    
                  </div><!--No cut Ends-->
             
                  <div class="col-sm-3 classSectio21"><!--no charges-->
                         
                      <h2 class="headdingKnowUsColumn">No charges</h2>
                  
                      <p>We also do not charge you based on the amount you invest; just a small monthly fee for our advisory services.</p>
                      
                  </div><!--no charges ends-->
                  
                    <div class="col-sm-3 classSectio21"><!--only direct-->
                        
                          <h2 class="headdingKnowUsColumn">Only direct</h2>
                        
                  <p>We recommend only direct schemes that give you much higher returns compared to retail options (which pay commissions to advisors)</p>
                        
                    </div><!--only direct Ends-->
                  
                  <div class="col-sm-3 classSectio21"><!--100%safe-->
                          <h2 class="headdingKnowUsColumn">100% safe</h2>
                  <p>Being in the industry for over 15 years, we know the importance of privacy and safety of your money and data.</p>
                  </div>
             
        </div>
          </div>  
<!--          <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1"> -->
      
<!--
                  </div>
        
-->
        
          
          
          <!-- Get Started End-->
    </div>
     <div class="btn-hr-wrapper" style=""></div>
    </div><!--container investoryends-->
<!--</section> section2 ends-->

 <!--<section id="section3"  class="mod-singular-section">-->
          
     <div class="container-fluid know-us text-center mod-singular-section">
    
      <h2 style="padding-top: 20px;padding-bottom:0px;" class="">Who we are</h2>
<!--Removed by ruthu
    <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
       <div class="btn-hr-wrapper "> </div>
  </div> 
-->
         
 
         <!--line below who we are ends-->
         
         
         
<!--  Removed by ruthu        <br>      -->
         <div class="WhoWeAre">
         <p class="WhoWeAreP"> Our parent company, International Money Matters Pvt. Ltd. (IMMPL) is a
        financial advisory established in 2003, to help people achieve their goals.
       Each of our advisors and relationship managers take up the 'Certified
          Financial Planner' programme as recommended by the Financial Planning
    Standards Board, India. We are also a SEBI Registered financial advisory.
            IMMPL manages assets of over Rs.750 Crores and run a risk cover of Rs.300
        Crores while advising 500+ clients from across India and the world including
           the US, UK, Middle East and South East Asia. </p>
         </div>
             
<!--removed bu ruthu
             <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1">
               <div class="btn-hr-wrapper" style=""></div>
  
  </div> 
-->
         
 
     <br>
        </div>
    <!--</section>-->
     
<!--
      <section id="section4"  class="mod-singular-section" >
      
-->
     <div class="container-fluid   text-center mod-singular-section" style="margin-top: 0.5em">
        
         <div class="container-fluid know-us text-center lastKnowUs">
          <h2 style="padding-top: 15px;padding-bottom:0px;margin: auto 27.5%;
    border-bottom: 2px #35BFD3 dotted;" class="" >Investory Team</h2>
                
<!--
       <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1"><div class="btn-hr-wrapper" ></div>
  
-->
  </div>
           
              
             
             <!--line above Team-->
        <br>
             <br>
        
          <div class="avatarTestimonial avtarEdit">
                    <img src="images/avatar.png" alt="Person" width="96" height="96" class="avtarSiaze" style="height: 70px;
                    width: 70px;"> 
            
                        </div>             
                 <h3 class="swethaJain" style="font-weight:900;">Swetha Jain - <i>COO</i></h3>    
        
           
    <div class="InvestTeam" style="" >
         
         <h6 class="InvestTeamP" style="">A BBM graduate and a CFP to boot, Swetha brings her excellent</h6>
         <h6 class="InvestTeamP" style="">management skills to the table and is an integral part of our think tank. She</h6>
         <h6 class="InvestTeamP" style="">spearheads "The Investory" initiative which aims to make financial advice</h6>
             <h6 class="InvestTeamP">more accessible and fun.</h6>
         </div>
<!--removed by ruthu
           <div class="btn-hr-wrapper"></div>
             
-->
             <!--line below Team-->
    

            
        </div><!--container-fluid knowus text-centercontainer ends-->
        <div class=" container knowusFooter">
        <% include partials/footer %>
            </div>
    <!--</section>section4-->



      

        </div>  
          
             
          
          
</div>

<!--Custom Js links -->
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
</body>
</html>


