<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="stylesheets/creativemobile.css">
           <link rel="stylesheet" href="stylesheets/index-sip-lumpsumMobile.css">
       

</head>


<body>
    <% include partials/headerMobile%>


        <div class="container-fluid">


            <div id="yourMoodP" class=" yourMoodParent">
                <div class="yourMood">
                    <h1></h1>
                    <h4>Your investory. Our expertise.</h4>
                    <p><!--How are you feeling today--></p>
                </div>
                <div class="mood">
                    <div id="homeCircleImg" class="myMood Broke">
                        <img class="Broke" src="images/Broke.png" alt="Home view">
                        <p style="display:none;">Feeling Broke</p>
                    </div>    
                    <div id="homeCircleImg"class="myMood Loved">
                        <img class="Loved" src="images/Loved.png" alt="Home view">
                        <p style="display:none;">Feeling Loved</p>
                    </div>    
                    <div id="homeCircleImg" class="myMood Nerdy">
                        <img class="Nerdy" src="images/Nerdy.png" alt="Home view">
                        <p style="display:none;">Feeling Nerdy</p>
                    </div>    
                    <div id="homeCircleImg" class="myMood Responsible">
                        <img class="Responsible" src="images/Responsible.png" alt="Home view">
                        <p style="display:none;">Feeling Responsible</p>
                    </div>    
                    <div id="homeCircleImg" class="myMood Rich">
                        <img class="Rich" src="images/RICH.png" alt="Home view">
                        <p style="display:none;">Feeling Rich</p>
                    </div>    
                    <div id="homeCircleImg" class="myMood Social">
                        <img class="Social" src="images/Social.png" alt="Home view">
                        <p style="display:none;">Feeling Social</p>
                    </div>    
                </div>
                <div class="photosParent">
                    <div class="row">
                        <div class="frogIndex">
                            <div class="col-md-12">
                                <div class="frogImageMoods text-center">
                                    <img id="setMood" class="img-responsive" src="#" alt="" />
                                    <h1 id="setMoodText" style="display:none;">Feeling Rich</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row rowIndexSlider">
                        <div class="slider" style="   ">
                            <div class="photos">
                                <div class="photosInner">
                                    <img class="change" id="Broke" src="images/Broke.png" alt="Home view">
                                    <img class="change" id="Loved" src="images/Loved.png" alt="Home view">
                                    <img class="change" id="Nerdy" src="images/Nerdy.png" alt="Home view">
                                    <img class="change" id="Responsible" src="images/Responsible.png" alt="Home view">
                                    <img class="change" id="Rich" src="images/Rich.png" alt="Home view">
                                    <img class="change" id="Social" src="images/Social.png" alt="Home view">
                                </div>
                            </div>
                            <div class="slider-control">
                                <img class="left" src="images/leftArrow.png" alt="Home view">
                                <img class="right" src="images/rightArrow.png" alt="Home view">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index2" id="sectionIndex2">
                <div class="container-fluid indexsip text-center" >
            <div class="pagesip">
        <h3>INVESTMENT OPTIONS</h3>
            <h4>Choose your Method</h4>
                
           <div class="row pricingPanelRow">
              <div class="sip1" >
                 <div class="col-lg-6  col-md-6 col-sm-6 sipcal ">
         <a class="tooltips" ><img src="images/btncapblue.png" width='30px' height="auto" id="imgbluecap" style="display:none;top: -15%;    left: 46%;
"> 
                  <div class="panel panel-default sip1 " id="sipcal">
        <div class="panel-heading">
          <h2 id="GoodPlan">SIP</h2>
              <div id="pricingDot">
                <!--<div class="pDot"></div>-->
                  <input type="radio" name="panel1" id="panel1" value="1">
            </div>
        </div>
        <div class="panel-body">
       
            <p id="sipcontent">  Choose to invest a fixed amount on monthly basis in a systematic manner.</p>
  
        </div>

      </div>

            <span id="GpData"></span>  </a>
                     
             </div>
            
              </div>
              <div class="sip2" >
             <div class="col-lg-6  col-md-6 col-sm-6 lumpsumcal">
          <a  class="tooltips" >  <img src="images/btncapblue.png" width='30px' height="auto" id="imgbluecap2" style="display:none;" > 
      <div class="panel panel-default sip2" id="lumpsumcal" >
       
        <div class="panel-heading">
          <h2>LUMPSUM</h2>
            <div id="pricingDot">
                <input type="radio" name="panel2" id="panel2" value="2" >
               <!-- <div class="pDot"></div>-->
            </div>
        </div>
        <div class="panel-body" >
        
           <p id="sipcontent"> Do you have surplus funds that you have already saved up? Choose to invest that now as a one time investment.</p>


            
        </div>

      </div>


            <span id="BpData"></span>  </a>
         
			
			</div>
              </div>
</div>
      
        <div class="btn-hr-wrapper">
                    	<button type="" id="go" name="go" class="btn btn-lg btn-white moodNav go" > Go</button>
				</div>
                  </div>
				
			   <div  id="pagesipcalculate" style="display: none;" >
         <h3>SIP</h3>
             
           <p id="sipflow1">I want to invest  &#8377; <input class="blankInput" name="sip" id="sip" placeholder=""  value=""/> monthly for next <input class="blankInput"  name="years" id="years" placeholder="" type="number"  value=""/> years.</p>
			<p id = "sipInvestErr" style="display: none;color: red;font-size: 1.1em;font-weight: 600;"> Please enter amount between  &#8377; 1000 to 100000.</p>
			<p id="sipTimeErr" style="display: none;color: red;font-size: 1.1em;font-weight: 600;"> Please enter time between 1 to 50 years.</p><br><br>
                 	<button type="" class="btn btn-white btn-lg moodNav getStarted" id="indexGetStarted" onClick="getSIP();" > Go </button> <br><br>
<!--             <img src="images/btncap.png" width='30px' height="auto" id="imgcap">-->
            <button type="" class="btn btn-lg moodNav sipBtn" id="sipbtn" onClick="showSIP();" >SIP</button>
             
              	<button type="" class="btn btn-lg moodNav lumBtn" id="lumpsumbtn" name="lumpsumbtn" onClick="showLumpsum();">Lump Sum</button>
               <div class="btn-hr-wrapper">
        </div>   
    </div>



<div id="pagelumpcalculate" style="display: none;" >
         <h3>LUMP SUM</h3>
             
           <p id="lumpsumflow1">I have &#8377; <input class="blankInput"  name="lumpsum" id="lumpsum"  placeholder="" value=""/> to invest now. I need it back in <input class="blankInput"  name="lumpsumYears" id="lumpsumYears" placeholder="" type="number"  value=""/> years.</p>
        <p id = "lumpsumInvestErr" style="display: none; color: red;font-size: 1.1em;font-weight: 600;"> Please enter amount between  &#8377; 5000 to 1000000.</p>
			<p id="lumpsumTimeErr" style="display: none; color: red;font-size: 1.1em;font-weight: 600;"> Please enter time between 1 to 50 years.</p> <br><br>
             <button type="" class="btn btn-white btn-lg moodNav getStarted" id="indexGetStarted" onClick="getLumpsum();" > Go</button><br><br>
           	<button type="" class="btn btn-lg moodNav sipBtn" id="sipbtn"  onClick="showSIP();" >SIP</button>
<!--             <img src="images/btncap.png" width='30px' height="auto" id="imgcap2">-->
              	<button type="" class="btn btn-lg moodNav lumBtn" id="lumpsumbtn" name="lumpsumbtn"  onClick="showLumpsum();" >Lump Sum</button>
    <div class="btn-hr-wrapper">
        </div>
    </div>

  
					
				
				
                <h2 class=" whatWeOffer">What we offer?</h2>
                <div class="mobileWhatWeOffer">
                    <div class="includeCarousel">
                        <div id="myCarousel" class="carousel slide text-center carouselEdit carouselImages" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner " role="listbox">

                                <div class="item active">
                                    <div class="offer emergency-funds">
                                        <img src="images/emergencyFunds.png" id="Broke" alt="Emergency Funds" width="auto" height="auto">
                                        <p id="Broke">Emergency Funds</p>
                                    </div>

                                </div>
                                <div class="item">
                                    <div class="offer tax-savings">
                                        <img src="images/taxSavings.png" alt="Tax Savings" id="Changing Season" width="auto" height="auto">
                                        <p id="Changing Season">Tax Savings</p>

                                    </div>

                                </div>
                                <div class="item">
                                    <div class="offer smart-goals">
                                        <img src="images/smartGoals.png" alt="Smart Goals" id="Responsible" width="auto" height="auto">
                                        <p id="Responsible">Smart Goals</p>

                                    </div>

                                </div>
                                <div class="item">
                                    <div class="offer build-wealth">
                                        <img src="images/buildWealth.png" alt="Build Wealth" id="Rich" width="auto" height="auto">
                                        <p id="Rich">Build Wealth</p>

                                    </div>

                                </div>

                            </div>



                        </div>

                        <!-- Left and right controls -->
                        <a class="left  " href="#myCarousel" role="button" data-slide="prev">
                            <img src="images/left.png">
                            <!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right  " href="#myCarousel" role="button" data-slide="next">
                            <!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                            <img src="images/Right.png">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <!--<button type="" id="indexScriptYourStory" class="btn btn-lg moodNav story" style="    position: relative;
top: -1em;    width: initial;    float: left;"> Script your Story </button>-->
            </div>
    </div>
            <br>
            <div class="index3" id="indexThree">
                <h2 class="indexheader3">How it works</h2>
                <div class="row">

                    <div class="col-sm-6 col-md-3 PAN">

                        <img src="images/animHow/frog_welcome.png" alt="Sign up with PAN number">

                        <br> <br>
                        <p>Sign up <!--with <br />PAN number--></p>
                    </div>


                    <div class="col-sm-6 col-md-3 Package">

                        <img src="images/animHow/frog%20jump.png" alt="Choose a Package">



                        <br><br>
                        <p>Choose a <br />Package</p>
                    </div>

                    <div class="col-sm-6 col-md-3 investing">
                        <img width="50%" height="50%" src="images/animHow/frog_coin.png" alt="Start investing">


                        <br><br>
                        <p style="    margin-top: 0.5em;
margin-left: 0.5em;">Start <br /> investing</p>
                    </div>
                    <br>
                    <div class="col-sm-6 col-md-3 Withdraw">

                        <img src="images/frog_note.png" alt="Withdraw anytime">
                        <br><br>
                        <p style="margin-top: 0.5em;">Withdraw <br /> anytime</p>
                    </div>

                </div>




                <!--
                <div class="row howItWorksRow" style="    border-bottom: 2px #35BFD3 dotted;">
            <div class="column-sm-4 " style="top:2em">
                
                <img src="images/frog_pan.png" alt="Sign up with PAN number "><br>
                <p >Sign up with <br />PAN number</p>
            </div>
            
            <div class="column-sm-4 " >
                
                <img src="images/frog_jump.png" alt="Choose a Package"><br>
                <p>Choose a <br />Package</p>
            </div>
            
            <div class="column-sm-4 " >
                
                <img src="images/frog_coin.png" alt="Start investing"><br>
                <p>Start <br /> investing</p>
            </div>
            
            <div class="column-sm-4" >
                
                <img src="images/frog_note.png" alt="Withdraw anytime"><br>
                <p>Withdraw <br /> anytime</p>
            </div>
                    
        </div>
    
-->
            </div>
            <br>
            <br>
            <div class="index4">
                <h2 class="indexheader3">Why us</h2>



                <div class="includeCarousel">
                    <div id="myCarousel2" class="carousel slide text-center carouselEdit" data-ride="carousel">


                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <div class="information">
                                    <h2>No Hidden Charges</h2>
                                    <p>For your mutual fund investment we do not charge you based on the amount you invest; just a small flat monthly fee for our advisory services.</p>
                                </div>


                            </div>
                            <div class="item">
                                <div class="information">
                                    <h2>Only Direct</h2>
                                    <p>WPurchasing mutual funds direct would mean investing with the fund house directly without using distributor as intermediary. This would mean a saving of both upfront and trail commission on your investment. We recommend only direct schemes that give you higher returns compared to retail options (which pay commissions to advisors).</p>
                                </div>

                            </div>
                            <div class="item">
                                <div class="information">
                                    <h2>Secure</h2>
                                    <p>We have been in the industry for over 15 years. We are officially registered with the industry regulator SEBI. All our data and web services are hosted with 24x7 physical and electronic security and our network communications are secured with SSL encryption.</p>

                                </div>

                            </div>
							    <div class="item">
                                <div class="information">
                                    <h2>Unique</h2>
                                    <p>Unlike other digital investment platforms we offer a blend of robo advisory and a human touch element because we understand that investments are not just about numbers, it is also about the dreams and emotions of unique individuals. Reliable, economical, automated, trustworthy and customised advice.</p>

                                </div>

                            </div>
                        </div>





                    </div>

                    <a class="left  " href="#myCarousel2" role="button" data-slide="prev">
                        <img src="images/left.png">

                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right  " href="#myCarousel2" role="button" data-slide="next">

                        <img src="images/Right.png">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
<% if(!loggedIn) {%>
                <button type="" data-toggle="modal" data-target="#signUp" class="btn btn-lg moodNav signUp" style="width:auto;    position: relative;
top: -1em;float:left;"> Sign Up</button>
                <% } %>
                <br>
                <!--section41-->
                <div id="myCarousel" class="carousel slide text-center carouselEdit testimonial" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div id="index4" class="carousel-inner" role="listbox">

                        <div class="item active">
                            <div class="avatarTestimonial">
                                <img src="images/avatar.png" alt="Person" width="96" height="96">
                                <p class="name">Preety Shankar. CEO, Kode Solutions</p>

                            </div>
                            <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
                        </div>
                        <div class="item">
                            <div class="avatarTestimonial">
                                <img src="images/avatar.png" alt="Person" width="96" height="96">
                                <p class="name">Preety Shankar . CEO, Kode Solutions</p>

                            </div>
                            <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
                        </div>
                        <div class="item">
                            <div class="avatarTestimonial">
                                <img src="images/avatar.png" alt="Person" width="96" height="96">
                                <p class="name">Preety Shankar . CEO, Kode Solutions</p>

                            </div>
                            <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
                        </div>
                    </div>





                </div>
                
            </div>

            <br>
            <% include partials/footerMobile %>
        </div>

        <!--Custom Js links -->

        <script src="javascripts/TweenMax.min.js"></script>
        <script src="javascripts/TextPlugin.min.js"></script>
        <script src="javascripts/main.js"></script>
		<script src="javascripts/sip.js"></script>
			<!--lumpsum sohan include js file-->
	    <script src="javascripts/lumpsum.js"></script>
        <script src="javascripts/control.js" type="text/javascript"></script>
        <script src="javascripts/moodCalculater.js" type="text/javascript"></script>
 <script src="javascripts/siplumpsum.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                $('.photosInner').click(function(e) {
                $('.yourMood').css('display', 'none');
                $('#yourMoodP .mood .myMood').removeClass('active');
                $('#yourMoodP .mood .'+e.target.id).addClass("active");
                });
            });
        </script>



</body>


</html>