       <!DOCTYPE html>
<html lang="en">
     
<head>

 <% include partials/head %>
<link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
      <% include partials/headerMobile%>
      <script>
      // var date = new Date();
      // var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      </script>
    <div class="container">
        <h3 class="myInvoicesHeadding">My Details</h3>
    <div id="invoices" class="text-center">
          
                <div class="page31" style="">
                                 
                       <div class="table-responsive tableAccounts"style="" >
                           
                           
<table class="table" style="
    border-radius: 21px;
">
  <thead>
    <tr>
      <th class="thead1" colspan="2">
        <%= date %>
      </th>

    </tr>
  </thead>
  <thead>
    <tr>
      <th class="thead2" colspan="2">ICICI Prudential</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Allocation %</td>
      <td style="border-right: none;">Amount (&#x20B9;)</td>
    </tr>
    <tr>
      <td id="eqPer">70%</td>
      <td id="eqAmt" style="border-right: none;">7,000</td>
    </tr>
  </tbody>
</table>
<table class="table" style="border-radius: 21px; margin-top: 30px">
  <thead>
    <tr>
      <th class="thead1" colspan="2">
        <%= date %>
      </th>

    </tr>
  </thead>
  <thead>
    <tr>
      <th class="thead2" colspan="2">Birla Sunlife</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Allocation %</td>
      <td style="border-right: none;">Amount (&#x20B9;)</td>
    </tr>
    <tr>
      <td id="eqPer">30%</td>
      <td id="eqAmt" style="border-right: none;">3,000</td>
    </tr>
  </tbody>
</table>
<!--
                        <table class="table table1"  style="  "  >
    <thead >
      <tr >
          
          <th   class="thDates" >Dates</th>  
        <th  class="thInvoices">Invoices</th>
        <th class="thAllocation">Allocation  %</th>
        <th class="thAmount">Amount (&#x20B9;)</th>
      </tr>
                            </thead>    </table>         
    
   <table class="table table2" style=" " >
       <tbody class="scrollbar"  id="ex3"    >
                          
      <tr  >
          
          <td>20 September 2016</td>
        <td >Fund Yesno Bank</td>
        <td >50%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>13 March 2017</td>
        <td>Bank fund Trade centre</td>
        <td>40%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>09 JAnuary 2017</td>
       <td>Debit fund</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
         <tr  >
          
          <td>20 September 2016</td>
        <td>Equity - Large-cap Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>13 March 2017</td>
        <td>Balanced - Oriented Funds</td>
        <td>40%</td>
        <td>4,000,00</td>
      </tr>
      <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
          <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
          <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
          <tr>
          <td>09 JAnuary 2017</td>
       <td>Debt - Short-term Funds</td>
        <td>50%</td>
        <td>4,000,00</td>
      </tr>
       </tbody>
       
  </table>
             
     <table class="table table3"  style=" "  >                
    <tbody >
        <td class="aba">
      <button type="" class="btn btn-lg moodNav  InvoicesButtons"  > Print</button>  
            <button type="" class="btn btn-lg moodNav InvoicesButtons"  > Mail</button>  
            <button type="" class="btn btn-lg moodNav  InvoicesButtons"  > Save</button>  
             
        </td>
       </tbody>
                            </table>                    
  
                       </div>                 
-->
                                 
          </div>
    
    </div>
        </div>