<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="javascripts/googleanalytics.js" ></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
</head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript">
</script>
    <style>
       
    
     
body {
  
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 13px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
}   
        .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child){
               width: 298px; 
        }
        .form-group{
        margin-bottom: 8px;
        }
    .form-control{
    
    background-color: #ffffff;
    color: #333;
    border: 1px solid #35BFD3;
    border-spacing: 1em;
    font-size: 0.9em;
    font-weight: 600;
    height:2.6em;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.3em;
   
}
         .heddings{
             color: #35BFD3;
             font-weight: 600;
         }
             .btn {
    color: #fff;
    background-color:#35BFD3;
    border-color: #35BFD3;
}
        .panel{
            background-color:#fff;
        }
        .form-group{
        margin-bottom: 8px;
        }

    </style>  
    <script type="text/javascript">
       
    
    

        var bankName=function(){
           var regExp3=/^[a-zA-Z]{3,30}$/;
           var bankName=$('#bankname').val();
           if(bankName.match(regExp3)){
               
               $('#errMasgBankname').slideUp();
               return true;
           }
           else{
              $('#errMasgBankname').slideDown();
               return false;
           }
           
       };
        
        
       var accno=function(){
           var accno=$('#accno').val();
           if(accno.length<=9){
               $('#errMasgAccno').slideDown();
               return false;
           }
           else{
              $('#errMasgAccno').slideUp();
               return true;
           }
           
       };
        
        
        var ifsc=function(){
           var ifsc=$('#ifsc').val();
           if(ifsc.length<=5){
               $('#errMasgIfsc').slideDown();
               return false;
           }
           else{
              $('#errMasgIfsc').slideUp();
               return true;
           }
           
       };
        
    
         var email=function(){
           var email=$('#email').val();
           if(email.length<=4){
               $('#errMasgEmail').slideDown();
               return false;
           }
           else{
              $('#errMasgEmail').slideUp();
               return true;
           }
           
       };
        var mobile=function(){    
            var regExp1 =/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4}$/;
           var mobile=$('#mobile').val();
           if(mobile.length==10 && mobile.match(regExp1)){
              
               $('#errMasgMobile').slideUp();
               
               return true;
           }
           else{
               $('#errMasgMobile').slideDown();
               return false;
           }
           
       };
      var umrn=function(){
       
           var umrn=$('#umrn').val();
           if(umrn.length>=4){
              
               $('#errMasgUmrn').slideUp();
               
               return true;
           }
           else{
               $('#errMasgUmrn').slideDown();
               return false;
           } 
          
      };
        
         var Date1=function(){
           var date1=$('#date1').val();
           if(date1.length>=4){
              
               $('#errMasgDate1').slideUp();
               
               return true;
           }
           else{
               $('#errMasgDate1').slideDown();
               return false;
           } 
          
      };
        
         var utilitycode=function(){
           var utilitycode=$('#utilitycode').val();
           if(utilitycode.length>=3){
              
               $('#errMasgUtilitycode').slideUp();
               
               return true;
           }
           else{
               $('#errMasgUtilitycode').slideDown();
               return false;
           } 
          
      };
        
        
          var ref1=function(){
           var ref1=$('#ref1').val();
           if(ref1.length>=3){
              
               $('#errMasgRef1').slideUp();
               
               return true;
           }
           else{
               $('#errMasgRef1').slideDown();
               return false;
           } 
          
      };
          var ref2=function(){
           var ref2=$('#ref2').val();
           if(ref2.length>=3){
              
               $('#errMasgRef2').slideUp();
               
               return true;
           }
           else{
               $('#errMasgRef2').slideDown();
               return false;
           } 
          
      };
        
         var from=function(){
           var from=$('#from').val();
           if(from.length>=3){
              
               $('#errMasgFrom').slideUp();
               
               return true;
           }
           else{
               $('#errMasgFrom').slideDown();
               return false;
           } 
          
      };
         var to=function(){
           var to=$('#to').val();
           if(to.length>=3){
              
               $('#errMasgTo').slideUp();
               
               return true;
           }
           else{
               $('#errMasgTo').slideDown();
               return false;
           } 
          
      };
        
        
        var validateFrom = function() {
     
            var accnoOk=accno(); 
        var ifscOk=ifsc();
        var emailOk=email();
        var mobileOk=mobile();
        var fromok=from();
        var took=to();
        var ref1ok=ref1();
        var ref2ok=ref2();
        var utilitycodeok=utilitycode();
        var umrnok = umrn();
        var Dateok = Date1();
        var banknameOk=bankName();
        
            
        
        if (utilitycodeok && umrnok && Dateok && banknameOk && accnoOk && ifscOk && emailOk && mobileOk && fromok && fromok && took && ref1ok && ref2ok )
            return true;
        else
            return false;
    };
              
    function display(){
        
            var accnoOk=accno(); 
        var ifscOk=ifsc();
        var emailOk=email();
        var mobileOk=mobile();
        var fromok=from();
        var took=to();
        var ref1ok=ref1();
        var ref2ok=ref2();
        var utilitycodeok=utilitycode();
        var umrnok = umrn();
        var Dateok = Date1();
        var banknameOk=bankName();
        
            
        
        if (utilitycodeok && umrnok && Dateok && banknameOk && accnoOk && ifscOk && emailOk && mobileOk && fromok && fromok && took && ref1ok && ref2ok )
            {
              window.location.href ="/nachpdf";    
              return true;
            }
        else{
            alert("Please Fill all Details")
            return false;
        }
        }
        </script>
<body ng-app="" id="target">

    
    
  <div class="container" id="HTMLtoPDF">
<div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
          <h3 class="heddings" style="text-align: center;margin-bottom:0.4em;margin-top:2em;"><b>NACH/ECS/AUTO DEBIT MANDATE INSTRUCTION FORM</b></h3>
        <br> 
         
        <!-- BEGIN DOWNLOAD PANEL -->
        <div class="panel panel-default well">
          <div class="panel-body">
          
              
              
               <div class="form-group">
       <div class="col-xs-8 col-xs-offset-4">
            
           <h4> Download NACH as pdf : </h4> <br> 
           <a href="files/BSE OTM Form.pdf" download><button type="button" class="btn" style="align:right">Get NACH</button></a>
           
           
            <a href="/bseinputs"><button type="button" class="btn" style="align:right">AOF</button></a>
        </div>
                  <div class="col-xs-1 col-xs-offset-0">
                
        </div>
            </div>
          </div>
      </div><!-- end col-md-8 -->
     
        </div>
</div>
    </div>
<!-- these js files are used for making PDF -->
	
</body>
</html>