<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
    <script type="text/javascript" src="javascripts/googleanalytics.js" ></script>
      <style>
    .moodGoals > img { display: none }
    </style>
	<link rel="stylesheet" href="stylesheets/updated.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
       <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
</head>
<body>

  <% include partials/header %>  
    
       
         <div class="container">
              <h2  class="NameAndLogo" style="color:#35BFD3;font-weight:700">Our Team</h2>
        <div class="col-md-8 col-sm-10 col-md-push-2 col-sm-push-1"> 
          
             <h4 style="text-align:left;color:#35BFD3;font-weight:700">Shweta Jain : Trailblazer <br></h4>
            <p style="text-align:justify;font-size:1.2em;font-weight:600">Creating the best possible experience for our clients and investors through newer ideas, adopting best practices and sometimes venturing into paths not many have treaded before. Lending direction and strategy to achieve Investory’s dreams and yours too.</p>
            <!--<p style="text-align:left;color:#35BFD3;font-size:1.1em;font-weight:700">*LinkedIn link</p>-->

             
                 <br>
            
            <h4 style="text-align:left;color:#35BFD3;font-weight:700">Nithin Sasikumar: Curator<br></h4>
            <p style="text-align:justify;font-size:1.2em;font-weight:600">Simplifying Investory’s investing process - uncomplicated ideas for fund selection and asset allocation to ensure a great investing experience. Creating content that is jargon free and easy to understand.</p> 
            <br>
            
            <h4 style="text-align:left;color:#35BFD3;font-weight:700">Dharan Vinobaji : Envoy<br></h4>
            <p style="text-align:justify;font-size:1.2em;font-weight:600">Creating awareness and making sure that Investory’s voice and purpose reaches out to everyone because access to reliable financial advice is key. Ensuring that clients have a smooth on-going experience at Investory. </p>
              <!--<p style="text-align:left;color:#35BFD3;font-size:1.1em;font-weight:700">*LinkedIn link</p>-->
                 <br>
            
              <h4 style="text-align:left;color:#35BFD3;font-weight:700">Syed Tanveer : Troubleshooter<br></h4>
            <p style="text-align:justify;font-size:1.2em;font-weight:600">Ensuring that the back end operations are hassle free and that the reports are accurate. Confirming that payments, transactions, redemptions, reports and reconciliations occur without a glitch.</p> 
            
             <!-- <p style="text-align:left;color:#35BFD3;font-size:1.1em;font-weight:700">*LinkedIn link</p>-->
            
               
             </div>
            </div>  
          
         
          
             
          
        
    
         
<!--container-fluid knowus text-centercontainer ends-->
        <div class=" container knowusFooter">
        <% include partials/footer %>
            </div>
    <!--</section>section4-->



      

       
    
<!--Custom Js links -->
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
</body>
</html>


