<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
	
    <link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
    <body>
    
    <% include partials/headerMobile%>
    <div class="container">
    
    <div class="forReports">
<div id="reports"  style="  ">
          <div class="container-fluid text-center">
                <div class="row rowmargin " style="margin-bottom: 0px;">
     <p class="paragraph">CHECK OUT HOW YOUR MONEY IS DOING.</p>
    <h4 class="headFive "> You have choosen the <i>Good Plan</i></h4>
         
    <div class="">
                                   
        <h2 class="stylingH">99 &#x20B9;<span class="stylingP"><span class="textPer">PER</span> MONTH</span></h2>
           
        <button type="" class="btn btn-lg moodNav upgrade" > Upgrade </button> 
     </div>
          
                                
                      
                    
                                 <div class="dropdown" style="    width: 13em;
    margin: auto;">
    <button class="btn btn-primary dropdown-toggle  selectReport" id="menu1" type="button" data-toggle="dropdown">Select another Report
    <span class="caret"></span></button>
    <ul class="dropdown-menu bejjar" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem"  href="#">Goal based reports</a></li>
      <li role="presentation"><a role="menuitem"  href="#">Profit & Loss report</a></li>
      <li role="presentation"><a role="menuitem" href="#">Capital gains report</a></li>
<!--      <li role="presentation" class="divider"></li>-->
      <li role="presentation"><a role="menuitem" href="#">Transition report</a></li>
              <li role="presentation"><a role="menuitem" href="#">Sector-wise investement reports</a></li>
              <li role="presentation"><a role="menuitem" href="#">Asset allocation reports</a></li>
         <li role="presentation"><a role="menuitem" href="#">Fund-wise reports</a></li>
        
          <li role="presentation"><a role="menuitem" href="#">Product research</a></li>
    </ul>
  </div>    
                    
                    
                    
                         <div style=" ">
                     
                        
                                 <h4 class="heddingFour">GOAL BASED REPORTS</h4>
                     <h4 class="headFive headingFive">Feeling Nerdy</h4>
        </div>
          
          
                    
           <div class="page31 scrollbar " id="ex3" style=" ">
             <div class="container-fluid how-it-works text-center">
             <div class="row panelRow scroll"  style="">                  
            <div class="col-sm-4">
                              
                 <div class="panel panel-default panelCut " style="border: 2px solid #ffde15;">
                            <div class="panel-body panelBodyCut"style="">
                                  <img src="images/goals/Nerdy/Education.png" >
                                <p><h4  class="paint"style="">Education</h4>
                             
                                <div class="classy" style="font-weight:800;"> Target 50%</div><br>
                               <div id="myProgress" style="">
                                <div id="myBar"style="color: #FFDE15;width:50%; position: absolute;
                                width:50%;height: 100%; background-color:#FFDE15; border-radius: 10px;"></div> 
  
    

                                </div>
                               <br>
                                <div class="classy"style="font-weight:800;">Achieved 60%</div>
                                
                               <br>
                                <div class="paint"style="margin-top:0px;
        margin-bottom: 5px;  color:#35BFD3;font-weight:800;">BUCK UP</div></p><br>
                            </div>
                          </div> 
                 
                    
                 <div class="panel panel-default panelCut " style="border: 2px solid #ffde15;">
                            <div class="panel-body panelBodyCut"style="">
                                  <img src="images/goals/Nerdy/Education.png" >
                                <p><h4  class="paint"style="">Education</h4>
                             
                                <div class="classy" style="font-weight:800;"> Target 50%</div><br>
                               <div id="myProgress" style="">
                                <div id="myBar"style="color: #FFDE15;width:50%; position: absolute;
                                width:50%;height: 100%; background-color:#FFDE15; border-radius: 10px;"></div> 
  
    

                                </div>
                               <br>
                                <div class="classy"style="font-weight:800;">Achieved 60%</div>
                                
                               <br>
                                <div class="paint"style="margin-top:0px;
        margin-bottom: 5px;  color:#35BFD3;font-weight:800;">BUCK UP</div></p><br>
                            </div>
                          </div> 
                        </div> 
               
               
                      <div class="col-sm-4">
                              
                 <div class="panel panel-default panelCut " style="border: 2px solid #ffde15;">
                            <div class="panel-body panelBodyCut"style="">
                                  <img src="images/goals/Nerdy/Gadget.png" >
                                <p><h4  class="paint"style="">Gadget</h4>
                             
                                <div class="classy" style="font-weight:800;"> Target 50%</div><br>
                               <div id="myProgress" style="">
                                <div id="myBar"style="color: #FFDE15;width:50%; position: absolute;
                                width:50%;height: 100%; background-color:#FFDE15; border-radius: 10px;"></div> 
  
    

                                </div>
                               <br>
                                <div class="classy"style="font-weight:800;">Achieved 60%</div>
                                
                               <br>
                                <div class="paint"style="margin-top:0px;
        margin-bottom: 5px;  color:#35BFD3;font-weight:800;">BUCK UP</div></p><br>
                            </div>
                          </div> 
                 
                    
                 <div class="panel panel-default panelCut " style="border: 2px solid #ffde15;">
                            <div class="panel-body panelBodyCut"style="">
                                  <img src="images/goals/Nerdy/Gadget.png" >
                                <p><h4  class="paint"style="">Gadget</h4>
                             
                                <div class="classy" style="font-weight:800;"> Target 50%</div><br>
                               <div id="myProgress" style="">
                                <div id="myBar"style="color: #FFDE15;width:50%; position: absolute;
                                width:50%;height: 100%; background-color:#FFDE15; border-radius: 10px;"></div> 
  
    

                                </div>
                               <br>
                                <div class="classy"style="font-weight:800;">Achieved 60%</div>
                                
                               <br>
                                <div class="paint"style="margin-top:0px;
        margin-bottom: 5px;  color:#35BFD3;font-weight:800;">BUCK UP</div></p><br>
                            </div>
                          </div> 
                        </div> 
               
               
               
                <div class="col-sm-4">
                              
                 <div class="panel panel-default panelCut " style="border: 2px solid #ffde15;">
                            <div class="panel-body panelBodyCut"style="">
                                  <img src="images/goals/Nerdy/Build%20a%20book%20collection.png" >
                                <p><h4  class="paint"style="">Build a book</h4>
                             
                                <div class="classy" style="font-weight:800;"> Target 50%</div><br>
                               <div id="myProgress" style="">
                                <div id="myBar"style="color: #FFDE15;width:50%; position: absolute;
                                width:50%;height: 100%; background-color:#FFDE15; border-radius: 10px;"></div> 
  
    

                                </div>
                               <br>
                                <div class="classy"style="font-weight:800;">Achieved 60%</div>
                                
                               <br>
                                <div class="paint"style="margin-top:0px;
        margin-bottom: 5px;  color:#35BFD3;font-weight:800;">BUCK UP</div></p><br>
                            </div>
                          </div> 
                 
                    
                 <div class="panel panel-default panelCut " style="border: 2px solid #ffde15;">
                            <div class="panel-body panelBodyCut"style="">
                                  <img src="images/goals/Nerdy/Build%20a%20book%20collection.png" >
                                <p><h4  class="paint"style="">Education</h4>
                             
                                <div class="classy" style="font-weight:800;"> Target 50%</div><br>
                               <div id="myProgress" style="">
                                <div id="myBar"style="color: #FFDE15;width:50%; position: absolute;
                                width:50%;height: 100%; background-color:#FFDE15; border-radius: 10px;"></div> 
  
    

                                </div>
                               <br>
                                <div class="classy"style="font-weight:800;">Achieved 60%</div>
                                
                               <br>
                                <div class="paint"style="margin-top:0px;
        margin-bottom: 5px;  color:#35BFD3;font-weight:800;">BUCK UP</div></p><br>
                            </div>
                          </div> 
                        </div> 
               

                        </div> 
     
    
    
    
    
</div>

</div>


       
       
        </div>
                       
                       </div>
<br>
<br>
<br>
<!--
     <div class="btnCenterReport1">
                     
            <button type="" data-toggle="modal"  class="btn btn-sm moodNav signUp giveUp1 " style=" ">Show in PDF</button>
                        
            <button type="" data-toggle="modal"  class="btn btn-sm moodNav signUp giveUp1" style="  " > Save as Excel</button><br>
                </div>    


<div class="btnCenterReport2">
            <button type="" data-toggle="modal"  class="btn btn-sm moodNav signUp gaveUp1" style="    "> Print</button>
                         
            <button type="" data-toggle="modal"  class="btn btn-sm moodNav signUp gaveUp1" style="   " > Email</button>
                 
        </div>
                
-->

  
<!--      </section>-->

<!--<section>-->
<!--

 <div class="" style="">
        



</div>
-->



    </div>


   
    </body>
	        
