 <!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="stylesheets/creativemobile.css">
<head>

 <% include partials/head %>
	
    <link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
    <body>
    
    <% include partials/headerMobile%>
    <div class="container">
    <h3 class="settingsDataHeader">Settings</h3>
			  
           <div class="settingsForm">   
      <form class="form-horizontal">
                          
          <div class="">
              
            <div class="form-group">
                               
                <label class="control-label  col-xs-3" for="pwd" >Password:
                </label>
               
                <div class="">
                
                    <input type="password" class="form-controler" value="abcdefg" readonly> 
            
                </div>
                                   
                <br>
                              
            </div>       
                                    
            
            <div class="form-group">
                
                              
                <label class="control-label  col-xs-3" for="text" >Risk Profile:</label>
                        
                <div class="">
                                            
                    <input type="text" style="color: #35BFD3;" class="form-controler" placeholder="" value="Changed on 10/10/2017" readonly>
                                              
                    <h6 class="messageProfile"><i>This can be changed once in a year</i></h6>
                                       
                </div>
                                    
                <br>                          
                              
              </div>        
                                    
              
             <div class="form-group">
                                  
                 <div class="dropdown">
                             
                     <label class="control-label  col-xs-3" for="text">Music:</label>
                                       
                     <div class="">
                        <select class="form-controler edit" ><span class="caretNext caretNext1 caret "></span>
                            <option  >On </option>
        <option  >Off</option>
                                   
                            </select>       
                     </div>
                                    
                     <br>
                                                            
                 </div>        
                              
              </div>            
                     
          </div>
                      
                   

          <div class="">
                     
            
              <div class="form-group" >
                       
                              
                  <label class="control-label  col-xs-3" for="text">Pricing Package:</label>
                                       
                  <div class=" ">
                                            
                      <input type="text" class="form-controler"style="" placeholder="" value="INR 99 Per Month" readonly>
                                              
                                        
                  </div>
                                   
                  <br>
                                  
                               
              </div>
                         
           
                          
              <div class="form-group">
                                   
                  <div class="dropdown">
                             
                      <label class="control-label  col-xs-3" for="text">Notifications:</label>
                                        
                      <div class="">
                                          
                         <select class="form-controler edit selectGender" ><span class="caretNext caretNext1 caret "></span>
                            <option  >On </option>
        <option  >Off</option>
                                   
                            </select>                           
                                        
                      </div>
                                   
                      <br>
                                  
                              
                  </div>        
                
              </div>        
                                    
                                    
                              
          </div>            
                                    
                                    
                                    

             </form>                       
                    
          </div>
        
    
    
    </div>
    
    
    
    
    
    
    
    
    </body>