<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
    <script type="text/javascript" src="javascripts/googleanalytics.js" ></script>
      <style>
    .moodGoals > img { display: none }
    </style>
	<link rel="stylesheet" href="stylesheets/updated.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
       <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
</head>
    <style>
  .gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;border-radius: 25%;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}
        .name{  
            font-size: 17px;/*added*/
            font-weight: 700;/*added*/
            margin-bottom: 0px;/*added*/
            margin-top: 10px;
             color:#35Bfd3;
        }
        
        .testimoni{
           font-size: 15px; 
            font-weight: 700;
           
        }
        .imag1{
           border: solid 1px #ccc;
    margin: 3px;
    padding: 10px 9px;
    background: #fff;
    box-shadow: 5px 5px 5px #aaa;" 
        }
        </style>
<body>

  <% include partials/header %>  
     
         <div class="container">
              <h2  class="NameAndLogo" style="color:#35BFD3;font-weight:700">Testimonials</h2>
        <div class="col-md-8 col-md-push-2">
<div class="row">


	<div class="gal">
	<div class="leftone imag1">
	<img height="250px" width="auto" src="images/1.jpg" alt="">
       <p class="name">Milani - <span class="italic">HR professional</span></p>
								
								<h5 class="testimoni">“I chose Investory as my financial advisor to save money
for my family’s future needs. This has made my life better as I have learnt to spend after I save first. Thanks
to Investory. “<br></h5>
        </div>
        	<div class="leftone imag1">
		<img height="220px" width="auto" src="images/2.jpg" alt="">
		 <p class="name">Kalpesh Sharma</p>
                <h5 class="testimoni">“ Investory team was very transparent in providing information and there were no hidden charges. I was advised based on my future goals and risk appetite and they devised an impressive custom made portfolio with multiple asset classes. “<br></h5>
        </div>
        
        <div class="leftone imag1">
		<img height="250px" width="auto" src="images/3.jpg" alt="">
		 <p class="name">Aditya -<span class="italic"> Student</span></p>
                <h5 class="testimoni">“ I am happy with the service and much recommended for starters in the financial space. ”<br></h5>
        </div>
        
        
           <div class="leftone imag1" >
		<img height="250px" width="auto" src="images/4.jpg" alt="">
		 <p class="name">Manoj - <span class="italic">IT professional</span></p>
                <h5 class="testimoni">“ Investory has done a brilliant job of transforming my
investment mindset. I am very satisfied with your investment services. ”<br></h5>
        </div>
			
			
			
			<div class="leftone imag1">
				<img height="250px" width="auto" src="images/1.jpg" alt="">

		 <p class="name">Milani - <span class="italic">HR professional</span></p>
								
								<h5 class="testimoni">“I chose Investory as my financial advisor to save money
for my family’s future needs. This has made my life better as I have learnt to spend after I save first. Thanks
to Investory. “<br></h5>
        </div>
			
		<div class="leftone imag1">
				<img  height="250px" width="auto" src="images/2.jpg" alt="">

		 <p class="name">Kalpesh Sharma</p>
                <h5 class="testimoni">“ Investory team was very transparent in providing information and there were no hidden charges. I was advised based on my future goals and risk appetite and they devised an impressive custom made portfolio with multiple asset classes. “<br></h5>
        </div>
				
		
				
			
			
				
	</div>
	
</div>
</div>
            </div>  
          
         
          
             
          
        
    
         
<!--container-fluid knowus text-centercontainer ends-->
        <div class=" container knowusFooter">
        <% include partials/footer %>
            </div>
    <!--</section>section4-->



      

       
    
<!--Custom Js links -->
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
</body>
</html>


