<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/updated.css">
     

</head>
<body class="accountsPage">

  <% include partials/header %>
 
    <div class="wrapper" style="overflow-x:hidden;">
	  <div class="main">
          
           <div class="topNav topNav1">
        
  


                                   
              <a  class=" btn btn-lg moodNav storyBtn" href="myStory">My Story</a> 
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <a class=" btn btn-lg moodNav storyBtn" href="reports">Reports</a>
              <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
             <a class=" btn btn-lg moodNav storyBtn" href="profile">My Profile</a> 
              <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          <a class=" btn btn-lg moodNav storyBtn" href="Accounts">Account</a>
              <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
             <a class="btn btn-lg moodNav storyBtn"  href="#">Messages</a> 
           
</div> 
       
        